<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='index.js'></script>
</head>
<body>

    <div class="title">
        <h1>Welcome to the Amazing Spotify  Personal Console</h1>
        <p style="border: thin;color: brown;">Giving access to your spotify will provide you a more,surprisingly enough elegant way of viewing your playlists </p>
    </div>

    <div class='main'>
        <a href="/login">Redirect for spotify Authorization</a>
    </div>


</body>

</html>